.flexBox {
    display: flex;
    flex-direction: row;
}
.alimentaire {
    background-color: #765d4a;
    padding-left: 10px;
    padding-right: 10px;
}
.nonAlimentaire {
    background-color: #f5f5f5;

    padding-left: 10px;
    padding-right: 10px;
}
h1 {
    text-align: center;
}
article{
    padding-bottom: 10px;
}
p {
    padding-bottom: 5px;
}
